@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-3 text-dark mb-4" style="font-weight: 300;">Welcome</h1>
    <h4 class="text-muted" style="font-weight: normal;">
        An E-commerce site build by ASP.NET Core MVC for COMP2084 - Retro Video Game Store
    </h4>
</div>
